.cm-action {
    padding: 6px 8px;
    margin: 2px 0;
    line-height: 18px;
    font-size: 14px;
    color: var(--text-color);
    border-radius: 2px;
    cursor: pointer;

    transition: background-color 30ms ease-in-out;
}

.cm-action:hover {
    background-color: var(--accent-color);
    color: white;
}

.cm-divider {
    height: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 8px;
}

.cm-dangerous {
    color: var(--red);
}

.cm-dangerous:hover {
    background-color: var(--red);
    color: white;
}

.cm-unimportant {
    color: var(--gray);
}